body {
    background-color: rgb(182, 105, 100);
}

h3 {
    color: white;
}

/**nav**/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(107, 54, 54, 0.63);
    height: 6vh;
    backdrop-filter: blur(8px);
}

.main {
    margin-top: 10vh;
    align-items: center;
}

.control-position {
    margin-left: 19vw;
}

.search {
    max-width: 400px;
    margin-left: 35vw;
    margin-bottom: 4vh;
}