/**body {
    background-color: rgb(236, 207, 172);
}**/
body {
    background-color: rgb(182, 105, 100);
}

/**nav**/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(107, 54, 54, 0.63);
    height: 6vh;
    backdrop-filter: blur(8px);
}

.nav-item a::backdrop {
    color: orange;
}

.nav-link {
    color: #ffffff;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-list li {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: 32px;
}

.nav-list a:hover {
    color: #f39200;
    transition: 0.5s;
    opacity: 0.7;
}

.nav-list a:active {
    color: #f39200
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 50vw;
        height: 95vh;
        background: rgba(107, 54, 54, 0.719);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-top: 35px;
        opacity: 0;
        margin-left: -20px;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.main {
    margin-top: 10vh;
}

.control-position {
    margin-left: 19vw;
}